.linea{
    border-top: 5px solid #000000;
    margin-bottom: 40px;
}
/* Estilos para las cartas */
.card {
    display: flex;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.card-content {
    flex: 1;
}

.card h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.card p {
    font-size: 14px;
    margin: 10px 0;
    color: #666;
}
