body {
    margin: 0;
    padding: 0;
}

.content {
    background-color: #f2f2f2;
    padding: 20px; /* Agrega espacio alrededor del contenido */
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas en pantallas pequeñas */
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    width: 100%; /* Las tarjetas ocuparán el ancho completo en pantallas pequeñas */
    max-width: 300px; /* Establece un ancho máximo para las tarjetas */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card h2 {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}
