body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    margin-top: 3vh;
}

.show-video-button, .close-video-button, .back-button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
}

.hidden {
    display: none;
}

#video-card {
    text-align: center;
    margin-top: 20px;
    max-width: 100%;
}

#video-card iframe {
    width: 100%;
}
