.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(87, 87, 87);
}

button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.likes-dislikes button {
  margin-left: 10px;
}

.like.liked,
.dislike.disliked {
  background-color: #265372;
  color: white;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160vh; /* Esto asegura que ocupe toda la altura de la ventana */
}

.contenedor {
  text-align: center;
}

.titulo {
  font-family: 'Arial Black', sans-serif;
  font-size: 24px;
  margin-bottom: 10px; /* Espacio entre el título y la imagen */
}

img {
  max-width: 300px; /* Tamaño máximo de la imagen */
  height: auto;
  margin-bottom: 10px; /* Espacio entre la imagen y la descripción */
}

.descripcion {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.video {
  max-width: 100%; /* Ajustar el ancho del video */
  height: auto;
  margin-top: 20px; /* Espacio entre la descripción y el video */
}
